/* Defining colors*/
:root {
  --theme-white: #f0f0f0;
  --theme-orange: #e89e00;
  --theme-orange-alpha: rgba(232, 158, 0, 0.7);
  --theme-black: #3D3D3D;
  --theme-gray: #535353;
  --theme-disabled-btn-text: #bdc3c7;
  --theme-red: #e74c3c;
}

body {
  /* remove margins and scroll bars */
  overflow: hidden;

  /* style text */
  text-align: center;
  font-family: "Exo", "Cabin", sans-serif;
  /* color text */
  color: var(--theme-black);
}

#scene-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--theme-gray);
  z-index: -1;
}

#gui-container {
}
